/*********************************
 * Build Helpers
 *********************************/
/* give each element a border */
* {
  border: 1px solid mediumvioletred;
}

/* shrink images for placement */
/* img {
  width: 100px;
} */

body {
  background: peachpuff;
  margin: 0;
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: stretch;
  flex-wrap: wrap;
}

.a {
  width: 100%;
  height: 8em;
  margin-bottom: .1em;
}

.wrapper {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
}

aside {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

aside > div {
  width: 29%;
  margin: 1vw;
}

.h {
  flex-grow: 2.5;
}


@media (min-width: 600px) {
  
  .a {
    height: 10em;
  }
  
  .wrapper {
    flex-direction: row;
  }
  aside {
    width: 90%;
    flex: 4;
    align-items: center;
    margin-right: 1em;
  }
  aside > div {
    height: 10em;
  }

  .h {
    flex: 2;
  }
}